h1,
h2,
h3,
h4 {
    font-weight: 600;
    margin-bottom: 1%;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 20px;
}

p {
    font-size: x-large;
}

html {
    scroll-behavior: smooth;
}


table {
    border: 3px solid black;
}

table tr>:nth-child(1) {
    justify-self: stretch;
    text-align: start;
}

td {
    border: 1px solid black;
}